<div style="text-align: right;">
	          <%= link_to " Homeに戻る" , root_path , { :class => "btn btn-default btn-sm"}%>
              <%= link_to "1〜 30位" , caterankshow_path($category_id,1) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "31〜60位" , caterankshow_path($category_id,2) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "61〜90位" , caterankshow_path($category_id,3) , { :class => "btn btn-default btn-sm"}%> 
</div>