<footer class="container-fluid">
  <small><a href="/">Copyright (C) 2015 Akihiro Ito All Rights Reserved.</a></small>
  <div style="text align: center;">
  	<!-- Rakuten Web Services Attribution Snippet FROM HERE -->
      <a href="http://webservice.rakuten.co.jp/" target="_blank">Supported by 楽天ウェブサービス</a>
    <!-- Rakuten Web Services Attribution Snippet TO HERE -->
  </div>
</footer>