<div style="text-align: right;">
              <%= link_to "1〜 30位" , searchshow_path($keyword,1) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "31〜60位" , searchshow_path($keyword,2) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "61〜90位" , searchshow_path($keyword,3) , { :class => "btn btn-default btn-sm"}%> 
</div>