<div style="text-align: right;">
	          <%= link_to " Homeに戻る" , root_path , { :class => "btn btn-default btn-sm"}%>
              <%= link_to "1〜30位" , rankingshow_path(1) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "31〜60位" , rankingshow_path(2) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "61〜90位" , rankingshow_path(3) , { :class => "btn btn-default btn-sm"}%> 
</div>