<div style="text-align: right;">
              <%= link_to "1〜10位" , rankingshow_path(1) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "11〜20位" , rankingshow_path(2) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "21〜30位" , rankingshow_path(3) , { :class => "btn btn-default btn-sm"}%> 
</div>